* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

header {
  font-size: 24px;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 16px;
  background: linear-gradient(to top, #1b1c25, #1d1e27);
  border-bottom: 1px solid #e5e5e5; /* A light color for the bottom border */
  box-shadow: 0px 4px 14px rgba(255, 255, 255, 0.6);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #e5e5e5;
  font-weight: 400;
}
body {
  background-color: #1d1e27;
  font-family: "Inter";
  border: 3px solid #72becf;
  border-radius: 20px;
}
h1,
h2 {
  color: #e5e5e5; /* Off-white for headings */
  font-weight: 600;
}

p {
  color: #b8b5b5;
}

label {
  color: #b8b5b5;
}

a {
  color: #72becf;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.welcome-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-bottom: 300px;
}

#welcome h1 {
    font-size: 7rem;
    text-align: center;
}

#welcome p {
    font-size: 1.5rem;
    padding-left: 30px;
    text-align: center;
}

#welcome img {
    width: 40%;
    margin-left: 20%;

}

/* fix the proximity of the click for hover icons */
#welcome a {
    font-size: 2rem;
    text-align: center;
    color:#e5e5e5;
    margin: 0;
    padding: 0;
}

#welcome a:hover {
    color: #72becf;
}
