* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  margin: 0.5%;
  background: linear-gradient(to top, #1b1c25, #1d1e27);
  border: 0.2rem solid #e5e5e5; /* A light color for the bottom border */
  box-shadow: 0 0.2rem 3rem rgba(255, 255, 255, 0.6);
  border-radius: 1.2rem;
  color: #e5e5e5;
  font-weight: 400;
}

#datetime {
  margin-right: 1%;
}

body {
  background-color: #1d1e27;
  /* border: 0.2vw solid #72becf;
  border-radius: 1.2rem; */
}
h1,
h2 {
  color: #e5e5e5; /* Off-white for headings */
  font-weight: 600;
}

p {
  color: #b8b5b5;
}

label {
  color: #b8b5b5;
}

a {
  color: #72becf;
}

#welcome {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.welcome-container {
  height: 20vh;
  margin: 0;
  padding: 0;
  margin-left: 2%;
}

#welcome h1 {
  font-size: 6rem;
  text-align: center;
}

#welcome p {
  font-size: 1.7rem;
  text-align: center;
  padding-top: 2vh;
}

#welcome img {
  border-radius: 3%;
  height: 70vh;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 3%;
}

.social-icons {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
  padding-bottom: 1%;
  text-align: center;
  margin-top: 1%;
  border-bottom: 0.2rem solid #e5e5e5;
}

.social-icons a {
  color: #f4f4f4;
  text-decoration: none;
  padding: 0.6%;
}

.social-icons i {
  transition: transform 0.3s ease;
}

.social-icons i:hover {
  color: #72becf;
  transform: scale(1.3);
}

.sticky-nav {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  border: 0.2rem solid #e5e5e5;
  padding: 0.7%;
  background: linear-gradient(to bottom, #1b1c25, #1d1e27);
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
}

.sticky-nav a {
  text-decoration: none;
  font-size: 1.6rem;
  padding: 0.5rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  color: #e5e5e5;
}

.sticky-nav a:hover {
  color: #72becf;
}

#about-me {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  padding-left: 25vw;
  padding-right: 25vw;
  margin-bottom: 10%;
}

#about-me h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

#about-me p {
  font-size: 1.7rem;
  text-align: center;
  padding-top: 2vh;
  line-height: 1.5;
}

#about-me b {
  text-decoration: underline;
}

.cursor {
  font-size: 2rem;
  margin-left: 3px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.prompt {
  color: #72becf;
}

.terminal {
  background-color: #1e1e1e;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  border: 0.3rem solid #333;
  padding: 2rem;
  position: relative;
}

.terminal-header {
  background-color: #333;
  display: flex;
  padding: 0.5rem 1rem;
  border-top-left-radius: 1.1rem;
  border-top-right-radius: 1.1rem;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.close-btn,
.min-btn,
.max-btn {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.close-btn {
  background-color: #ff5f56;
}

.min-btn {
  background-color: #ffbd2e;
}

.max-btn {
  background-color: #27c93f;
}

.terminal-title {
  font-size: 1rem;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  text-align: center;
}

.command {
  color: #fff;
}

#my-skills {
  margin-top: 15%;
  text-align: center;
  padding-left: 0vw;
  padding-right: 0vw;
  margin-bottom: 10%;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-category {
  margin: 1.5rem;
  margin-top: 2rem;
}
.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.skills-card {
  background-color: #1e1e1e;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  border: 0.3rem solid #333;
  padding: 1rem;
  transition: transform 0.4s ease;
}

.skills-card img {
  width: 8rem;
  height: 8rem;
  margin: 1rem;
  object-fit: contain; /* Ensure image is resized to fit */
}

#my-skills h1 {
  font-size: 5rem;
  text-align: center;
}

.skills-card:hover {
  transform: translateY(-1rem);
  background-color: #72becf;
  border: 0.3rem solid #e5e5e5;
}

.skills-card:hover h2 {
  color: #1b1c25;
}

#my-resume {
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  padding-left: 25vw;
  padding-right: 25vw;
  margin-bottom: 10%;
  align-items: center;
}

#my-resume h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

#my-resume img {
  width: 100%;
  margin-top: 2rem;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 2rem rgba(114, 190, 207, 0.4);
  border: 0.3rem solid #72becf;
}

#my-resume button {
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 1.4rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7);
  border: 0.3rem solid #333;
  padding: 1rem;
  margin-top: 2rem;
  font-size: 1.4rem;
  transition: transform 0.4s ease;
}

#my-resume button:hover {
  transform: translateY(-1rem);
  background-color: #72becf;
  border: 0.3rem solid #e5e5e5;
  cursor: pointer;
}

#contact-me {
  margin-top: 18%;
}

#contact-me h2 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 1.3rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 20%;
}

.contact-container p {
  font-size: 1.7rem;
  margin: 0 1rem;
  padding-bottom: 15px;
  border-bottom: 2px solid #b8b5b5;
}

.contact-container h3 {
  color: #fff;
  margin-bottom: 0.3rem;
}

.contact-media {
  margin-top: 1.2rem;
}

/* Macbook */
@media (max-width: 2560px) {
  .welcome-container {
    height: 33vh;
  }
}

/* window split into two on my 27 inch monitor */
@media (max-width: 1265px) {
  #welcome img {
    border-radius: 3%;
    height: 50vh;
    margin-top: 0%;
    margin-left: 10%;
    margin-right: 3%;
  }

  #welcome {
    margin-top: 14%;
  }

  #about-me {
    margin-top: 30%;
  }

  #my-skills {
    margin-top: 30%;
  }

  #my-resume {
    margin-top: 30%;
  }

  #contact-me {
    margin-top: 42%;
    margin-bottom: 42%;
  }
}

/* iPad. Does not work on ipad pros just yet*/
@media (max-width: 1366px) {
  #welcome img {
    height: 42vh;
    padding-bottom: 7%;
  }

  #welcome h1 {
    font-size: 5rem;
  }

  #welcome p {
    font-size: 1.4rem;
  }

  .welcome-container {
    margin-top: 13%;
    height: 50vh;
    padding-left: 1%;
  }

  #about-me {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #my-resume img {
    width: 110%;
  }

  #contact-me {
    margin-top: 45%;
    margin-bottom: 59%;
  }

  #datetime {
    padding-right: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .my-name {
    padding-left: 2%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
}

/* Iphones */
@media (max-width: 428px) {
  header {
    font-size: 1.1rem;
    margin-left: 1%;
    margin-top: 1.5%;
    margin-right: 1%;
  }

  #welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40%;
  }

  .welcome-container {
    margin: 0;
    margin-top: 0%;
    height: 18vh;
  }

  #welcome h1 {
    font-size: 2.6rem;
  }

  #welcome p {
    font-size: 1.2rem;
    margin-bottom: 2%;
  }

  #welcome img {
    margin: 0;
    padding: 0;
    margin-top: 20%;
  }

  #about-me {
    margin-bottom: 40%;
  }

  #about-me h1 {
    font-size: 3rem;
  }

  #about-me p {
    font-size: 1.2rem;
  }

  #my-skills {
    margin-bottom: 20%;
  }

  #my-skills h1 {
    font-size: 3rem;
  }

  #my-skills h2 {
    font-size: 1.2rem;
  }

  .skills-card img {
    width: 3rem;
    height: 3rem;
    margin: 1rem;
    object-fit: contain; /* Ensure image is resized to fit */
  }
    
  #my-resume h1 {
    font-size: 3rem;
  }

  #my-resume img {
    width: 130%;
  }
  
  #my-resume button {
    font-size: 1rem;
    
  }

  #contact-me h2 {
    font-size: 3rem;
  }

  #contact-me {
    margin-bottom: 80%;
    margin-top: 64%;
  }

  .terminal {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
